<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
</head>
<body>
  <%- include('partials/header') %>


  <h1>Bienvenue sur notre plateforme de détection de fraude</h1>
  <p>Utilisez le menu pour vous connecter ou vous inscrire.</p>

  <%- include('partials/footer') %>

</body>
</html>
